* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

html,
body {
    background: radial-gradient(circle, rgba(104, 119, 246, 1) 0%, rgba(160, 233, 148, 1) 100%);
    overflow: hidden;
}

input[type="text"] {
    width: 300px;
    height: 30px;
    outline: none;
    border: 1px solid #8182c1;
    padding: 5px;
    border-radius: 5px;
}

button {
    width: 200px;
    height: 30px;
    outline: none;
    border: 1px solid #8182c1;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background: #6ed47c;
    color: #fff;
    text-transform: uppercase;
    &:focus {
        outline: none;
    }
}

h2 {
    text-align: center;
    color: #fff;
    padding: 5px;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(74, 74, 74, .8);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}